<footer>
    <div class="footer-wrapper">
        <div class="footer-column">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
                <li> Mundhwa, Pune, Maharashtra
                </li>
            </ul>
            <div class="footer-right">
                <p> Copyrights &copy; 2023 Omkar Dhapte. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>