<div class=" w-100" style="background: #3b3b3bb3;">
    <div class="container-fluid d-flex px-5 py-2 align-items-center">
        <div class="p-2 px-4 col" [ngClass]="{'d-none' : mobileNav}">
            <span class="animate-charcter fw-bold">OMKAR</span>
        </div>
        <div class="col justify-content-end icon" [ngClass]="{'icon' : !mobileNav , 'icon1 ' : mobileNav}">
            <button class="bg-transparent border-0 text-white" (click)="toggleMenu()">
                <mat-icon>list</mat-icon>
            </button>
        </div>
        <div class="col justify-content-end desktop-menu" [ngClass]="{'mobile-menu ' : mobileNav}">
            <p class="px-4 py-2 text-center animate-charcter fw-bold" [ngClass]="{'d-none':!mobileNav}">OMKAR</p>
            <p class="px-3 py-2 text-decoration-none text-center fw-bold text-white fs-8 fw-600 icon"
                (click)="toggleMenu()" [ngClass]="{'icon' : !mobileNav}"><mat-icon>clear</mat-icon>
            </p>

            <a class="px-3 py-2 text-decoration-none text-center fw-bold text-white fs-8 fw-600" routerLink="">Home</a>
            <a class="px-3 py-2 text-decoration-none text-center fw-bold text-white fs-8 fw-600"
                routerLink="./about">About</a>
            <a class="px-3 py-2 text-decoration-none text-center fw-bold text-white fs-8 fw-600"
                routerLink="./serviesprovide">Services</a>
            <a class="px-3 py-2 text-decoration-none text-center fw-bold text-white fs-8 fw-600"
                routerLink="./project">Projects</a>
            <a class="px-3 py-2 text-decoration-none text-center fw-bold text-white fs-8 fw-600"
                routerLink="./contact">Contact</a>
        </div>
    </div>
</div>