<div class="container-fluid">
    <div class="header text-center py-4" id="app-projects">
        <h1 class="fw-bolder m-0" style="font-size: 24px;">Projects</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-12 mb-3" *ngFor="let item of projectList">
            <div class="card chip mx-2 h-100">
                <img [src]="item.imageUrl" class="card-img-top" [alt]="item.projectName">
                <div class="card-body">
                    <h2 class="fw-bold mb-2" style="font-size: 20px;">{{ item.projectName}}</h2>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>