<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container z-1">
        <h1>{{myself.name}}</h1>
        <p>I'm <span class="typed">{{ currentText }}</span></p>
        <div class="social-links">
            <a class="twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a class="instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="google-plus">
                <i class="fa fa-skype" aria-hidden="true"></i>
            </a>
            <a class="linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>