<div class="container-lg d-flex px-4 mobile-view" style="height: 500px">
    <div class="col-5 overflow-hidden d-flex align-content-center rounded-5" style="background: #8613aa;">
        <div class="text-center p-0 m-auto" style="width: 100%; height: 100%">
            <img src="../assets/back.png" alt="BANNER IS HERE" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="col-7 px-4">
        <div class="">
            <span class="p-3 fw-bold d-block">About Me</span>
            <p class="py-4" style="font-size: 14px;">
                Omkar Sunil Dhapte is a skilled Full Stack Developer with experience in building web applications. He is
                proficient in web technologies and has worked on various projects such as data science and machine
                learning-based house price prediction, online banking systems, and music player websites. Omkar has
                completed a Full Stack Developer Diploma and has experience as an intern at Extentia. He is a quick
                learner,
                an honest team player, and has a passion for gaming and video editing.
            </p>
        </div>
        <div class="">
            <div class="list-unstyled list-inline">
                <div class="d-flex justify-content-lg-start tesl">
                    <a class="p-0 px-3 fw-5 border-0 text-white text-decoration-none" style="transition: border 0.3s;"
                        (click)="showSkills = true; showExperience = false; showEducation = false;">Skills</a>
                    <a class="p-0 px-3 fw-5 border-0 text-white text-decoration-none" style="transition: border 0.3s;"
                        (click)="showExperience = true; showSkills = false; showEducation = false;">Experience</a>
                    <a class="p-0 px-3 fw-5 border-0 text-white text-decoration-none" style="transition: border 0.3s;"
                        (click)="showEducation = true; showSkills = false; showExperience = false;">Education</a>
                </div>
                <div class="d-flex p-2 ">
                    <ul class="py-2 list-unstyled align-center dis" *ngIf="showSkills">
                        <li class="px-2 py-1 fw-bolder" style="font-size:14px; color:red" *ngFor="let skill of skills">
                            {{ skill.name }}
                            <p class="px-2 py-1 text-white fw-lighter" style="font-size:16px;">{{ skill.description }}
                            </p>
                        </li>
                    </ul>

                    <ul class="py-2 list-unstyled align-center " *ngIf="showExperience">
                        <li class="px-2 py-1  fw-bolder" style="font-size:14px; color:red"
                            *ngFor="let exp of experience">
                            {{ exp.date }}
                            <p class="px-2 py-1 text-white fw-lighter " style="font-size:16px;">{{ exp.details }}</p>
                        </li>
                    </ul>

                    <ul class="py-2 list-unstyled align-center " *ngIf="showEducation">
                        <li class="px-2 py-1  fw-bolder" style="font-size:14px; color:red"
                            *ngFor="let edu of education">
                            {{ edu.date }}
                            <p class="px-2 py-1 text-white fw-lighter " style="font-size:16px;">{{ edu.details }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>