.container {
  display: flex;
  padding: 10px 140px;
}
.col-3 {
  width: 35%;
  height: 500px;
  padding: 30px 10px 20px 10px;
}
.col-9 {
  width: 70%;
  background: #000;
  height: 500px;
  padding: 35px 45px;
}
.col-9 span {
  font-size: 33px;
  font-weight: 700;
}
.photo {
  background: #6d6b6b;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px auto;
  border-radius: 12px;
  box-sizing: border-box;
}
.section p {
  padding: 10px 0px;
}
.about-list {
  list-style: none;
}
.about-list a {
  float: left;
  padding: 18px 24px;
  font-size: 18px;
}
ul {
  list-style: none;
  text-align: center;
}
.about-list a ul {
  text-align: left;
}
.about-list a ul li {
  padding-top: 20px;
  color: aqua;
  text-align: left;
  font-size: 14px;
}
.about-list a ul li p {
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: start;
}
.menu a {
  border-bottom: none;
  transition: border linear 0.2s;
}
.menu a:hover {
  border-bottom: 2px solid red;
}
.menu-item {
  display: flex;
}

.menu-item ul li {
  color: red;
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
}
.menu-item ul li p {
  color: #fff;
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
}
