<div class="w-100 h-100 py-3" id="app-about">
    <div class="container-lg d-flex mobile-view">
        <div class="row">
            <span class="my-4 text-center d-block">About Me</span>
            <div class="col overflow-hidden d-flex">
                <div class="text-center p-0 m-auto flex-shrink-1">
                    <img src="../../assets/profile.png" class="img-fluid w-100 h-100" alt="BANNER IS HERE"
                        style="height:500px !important;">
                </div>
            </div>
            <div class="col px-3 rounded-5" style="background-color:#67348d96">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <p class="py-4 px-4 font-bolder" style="font-size: 14px;">
                            Omkar Sunil Dhapte is a skilled Full Stack Developer with experience in building web
                            applications.
                            He is
                            proficient in web technologies and has worked on various projects such as data science and
                            machine
                            learning-based house price prediction, online banking systems, and music player websites.
                            Omkar
                            has
                            completed a Full Stack Developer Diploma and has experience as an intern at Extentia. He is
                            a
                            quick
                            learner,
                            an honest team player, and has a passion for gaming and video editing.
                        </p>
                    </div>
                    <div class="col">
                        <div class="px-4">
                            <div class="list-unstyled list-inline">
                                <div class="d-flex justify-content-lg-start tesl">
                                    <a class="p-0 px-3 fw-5 border-0 text-decoration-none anima"
                                        (click)="showExperience = true;showEducation = false;">Experience</a>
                                    <a class="p-0 px-3 fw-5 border-0 text-decoration-none anima"
                                        (click)="showEducation = true; showExperience = false;">Education</a>
                                </div>
                                <div class="d-flex">
                                    <ul class="py-2 list-unstyled align-center " *ngIf="showExperience">
                                        <li class="px-2 py-1  fw-bolder" style="font-size:14px; color:red"
                                            *ngFor=" let exp of experience">
                                            {{ exp.date }}
                                            <p class="px-2 py-1 text-white fw-lighter " style="font-size:16px;">{{
                                                exp.details
                                                }}
                                            </p>
                                        </li>
                                    </ul>

                                    <ul class="py-2 list-unstyled align-center " *ngIf="showEducation">
                                        <li class="px-2 py-1  fw-bolder" style="font-size:14px; color:red"
                                            *ngFor=" let edu of education">
                                            {{ edu.date }}
                                            <p class="px-2 py-1 text-white fw-lighter " style="font-size:16px;">{{
                                                edu.details
                                                }}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>