<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider" #testimonialsSlider>
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let testimonial of testimonials; let i = index">
                    <div class="testimonial-item" [ngClass]="{ active: i === currentSlide }">
                        <img [src]="testimonial.image" class="testimonial-img" alt="">
                        <h3>{{ testimonial.name }}</h3>
                        <h4>{{ testimonial.position }}</h4>
                        <p>
                            <i class="fa fa-quote-left quote-icon-left"></i>
                            {{ testimonial.quote }}
                            <i class="fa fa-quote-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="dots">
                <span class="dot" *ngFor="let testimonial of testimonials; let i = index"
                    [ngClass]="{ active: i === currentSlide }" (click)="jumpToSlide(i)"></span>
            </div>
        </div>
    </div>
</section>