<div class="container-xl text-center py-5" id="app-projects">
    <div class="header pt-4">
        <h1 class="fw-bolder">My Projects</h1>
    </div>
    <div class="container-fluid px-4 d-flex justify-content-evenly" style="height: 300px;">
        <div class="chip position-relative rounded-5 col-4 px-2 overflow-hidden">
            <img src="../assets/java-atm-machine.jpeg" style="height: 100%;width: 100%;">
            <div class="overlay w-100 position-absolute bottom-0 top-0 right-0  overflow-hidden">
                <div class="text text-center position-absolute top-50 start-50 translate-middle"
                    style="width: 100%; color: white; font-size: 20px;">
                    <h1 class="pt-4" style="font-size: 16px;">Java-Based ATM Application</h1>
                    <p class="text-center p-3" style="font-size: 14px;">Java can be used for ATM development with
                        JavaFX/Swing front-end and JPA/Hibernate or Spring Boot
                        back-end for database management. Use SHA-256 or MD5 for encryption, exception handling for UX.
                        Develop skills and a useful tool for banking customers.</p>
                    <a class="text-center text-decoration-none" href="http://spotify.com" target="_blank"><i
                            class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="chip position-relative rounded-5 px-2 col-4 overflow-hidden">
            <img src="../assets/house-price-predition.jpg" style="height: 100%;width: 100%;">
            <div class="overlay w-100 position-absolute bottom-0 top-0 right-0  overflow-hidden">
                <div class="text text-center position-absolute top-50 start-50 translate-middle"
                    style="width: 100%; color: white; font-size: 20px;">
                    <h1 class="pt-4" style="font-size: 16px;">House Price Prediction</h1>
                    <p class="text-center p-3" style="font-size: 14px;">House price prediction in Python involves ML
                        model training with regression algorithms,
                        visualization, and web app creation using Flask and Bootstrap. It's a great project for
                        developing ML and web development skills.</p>
                    <a class="text-center text-decoration-none"
                        href="https://github.com/omkarsunildhapte/HousePricePredicition" target="_blank"><i
                            class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="chip position-relative rounded-5 px-2 col-4 overflow-hidden">
            <img src="../assets/music-website.jpeg" style="height: 100%;width: 100%;">
            <div class="overlay w-100 position-absolute bottom-0 top-0 right-0  overflow-hidden">
                <div class="text text-center position-absolute top-50 start-50 translate-middle"
                    style="width: 100%; color: white; font-size: 20px;">
                    <h1 class="pt-4" style="font-size: 16px;">Harmony Hub</h1>
                    <p class="text-center p-3" style="font-size: 14px;">A music website showcases artists, songs,
                        albums, and concerts with
                        playlist creation and artist
                        promotion features. HTML, CSS, JavaScript, and APIs are used. Develop web skills and connect
                        music lovers and artists with this project.</p>
                    <a class="text-center text-decoration-none" href="http://spotify.com" target="_blank"><i
                            class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    <a class="btn border-0  text-white outline-0 mt-5 py-1 px-3 text-decoration-none rounded-1 bg-success"
        href="http://spotify.com" target="_blank">See
        More</a>
</div>