<div class="header text-center py-4" id="app-projects">
    <h1 class="fw-bolder m-0" style="font-size: 24px;">Projects</h1>
</div>
<div class="container-fluid d-flex justify-content-center py-5">
    <div class="d-flex justify-content-between align-items-stretch container">
        <div class="row">
            <div class="col">
                <div class="card d-flex flex-column" style="background: #3087c9;">
                    <h1 class="position-absolute z-1 font-bold text-white" style="left:4%; top:4%; font-size: 17px">ATM
                        Application</h1>
                    <img src="../assets/java-atm-machine.jpeg" class="card-img-top"
                        style="object-fit: cover; height: 200px;">
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column" style="background: #3087c9;">
                    <h1 class="position-absolute z-1 font-bold text-white" style="left:4%; top:4%; font-size: 17px">
                        House Price
                        Prediction</h1>
                    <img src="../assets/house-price-predition.jpg" class="card-img-top"
                        style="object-fit: cover; height: 200px;">
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column" style="background: #3087c9;">
                    <h1 class="position-absolute z-1 font-bold text-white" style="left:4%; top:4%; font-size: 17px">
                        LayMusic</h1>
                    <img src="../assets/music-website.jpeg" class="card-img-top"
                        style="object-fit: cover; height: 200px;">
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column" style="background: #3087c9;">
                    <h1 class="position-absolute z-1 font-bold text-white" style="left:4%; top:4%; font-size: 17px">
                        RangRachna</h1>
                    <img src="../assets/music-website.jpeg" class="card-img-top"
                        style="object-fit: cover; height: 200px;">
                </div>
            </div>
        </div>
    </div>
</div>