@import "~@fortawesome/fontawesome-free/css/all.css";
.border-red {
  border-left: 3px solid red !important;
}

.contact {
  padding: 20px 49px;
}
.contact p i {
  padding: 0px 30px;
  color: red;
}
.contact p {
  padding: 4px;
}
ul {
  list-style: none;
}
.contact ul {
  padding: 10px 54px;
  display: inline-flex;
  text-align: center;
}
.contact ul li {
  padding: 10px;
  font-size: 20px;
  color: gray;
}
.contact ul li a {
  color: gray;
}
.contact ul li a:hover {
  opacity: 1;
  color: grey;
}
.button a {
  background-color: red;
  text-align: center;
  text-decoration: none;
  border: 1px solid red;
  color: #fff;
  padding: 12px 18px;
  border-radius: 10px;
  transition: opacity 0.2s linear;
}
.contact a:hover {
  opacity: 0.2;
  border: none;
}
.col-6 form button {
  border: 1px solid red;
  transition: opacity 0.2s linear;
}
.col-6 form button:hover {
  opacity: 0.2;
}
.col-6 form input:hover {
  border: none;
  outline: none;
}
