<div class="d-flex flex-row px-4 align-items-center w-100" style="height: 600px;">
    <div class="aside d-flex text-white fw-bold flex-column align-items-center col-6 text-center">
        <h2 class="fw-bolder ">Full Stack Developer</h2>
        <h1 class="fw-bold test">Hi, I'm <p class="fw-bolder d-inline-block " style="color: red;">
                Omkar Dhapte</p>
        </h1>
        <p class="lineUp text-center">

            "Success in future projects lies in building innovative <br>
            and scalable solutions that meet the needs of the modern world."
        </p>
    </div>
    <div class="h-100 col-6 d-flex align-items-center">
        <div class="container-fluid align-items-center d-flex justify-content-center">
            <div class="span-container align-items-center position-absolute d-flex justify-content-center">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
                <span class="five"></span>
            </div>
        </div>
    </div>
</div>