.animation {
  padding-left: 50%;
}
.lineUp {
  font-size: 16px;
  animation: 8s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

span {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  animation: speed 2s infinite ease-in-out;
}

.one {
  background: #c9ba12;
  animation-delay: 1.5s;
}

.two {
  background: #a11cc7;
  animation-delay: 1s;
}

.three {
  background: #237ead;
  animation-delay: 0.5s;
}

.four {
  background: greenyellow;
}
@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }

  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }

  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }

  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

@media screen and (max-width: 850px) {
  .animation {
    position: absolute;
    top: 24%;
    left: 34%;
    padding: 0%;
  }
  .test {
    font-size: 22px;
  }
  .text-animation {
    position: absolute;
    bottom: 21%;
    left: 0;
  }
  .text-animation h1,
  .text-animation p {
    padding: 10px 0px;
  }
  .aside h2 {
    font-size: 29px;
  }
  .aside h1 {
    font-size: 22px;
  }
  .lineUp {
    font-size: 11px;
  }
}
