<div class="d-flex w-100 align-items-center container-fluid" style="height: 600px;" id="app-home">
    <div class="col d-flex fw-bold flex-column align-items-center container-fluid text-center text-animation">
        <h1 class="fw-bolder py-2" style="font-size: 29px;">Full Stack Developer</h1>
        <h1 class="fw-bold py-3" style="font-size: 43px;">Hi, I'm <p class="fw-bolder py-3 d-inline-block "
                style="color:#00f6ff">
                Omkar Dhapte</p>
        </h1>
        <p class="lineUp text-center py-2">

            "Success in future projects lies in building innovative <br>
            and scalable solutions that meet the needs of the modern world."
        </p>
    </div>
    <div class="col"></div>