<div class="d-flex w-100 align-items-center" style="height: 600px;">
    <div class="col-4 d-flex text-white fw-bold flex-column align-items-center col-6 text-center">
        <h1 class="fw-bolder" style="font-size: 29px;">Full Stack Developer</h1>
        <h1 class="fw-bold" style="font-size: 43px;">Hi, I'm <p class="fw-bolder d-inline-block " style="color: red;">
                Omkar Dhapte</p>
        </h1>
        <p class="lineUp text-center">

            "Success in future projects lies in building innovative <br>
            and scalable solutions that meet the needs of the modern world."
        </p>
    </div>
    <div class="h-100 col-6 d-flex align-items-center">
        <div class="container-fluid align-items-center d-flex justify-content-center">
            <div class="align-items-center position-absolute d-flex justify-content-center"
                style="width: 150px; height: 150px;">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
                <span class="five"></span>
            </div>
        </div>
    </div>
</div>