#app-home {
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.lineUp {
  font-size: 16px;
  animation: 8s anim-lineUp ease-out 1;
}
.text-animation {
  text-shadow: 4px 4px 4px #00000080;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 850px) {
  #app-home {
    background-position: center;
  }
  .mobile {
    flex: auto !important;
  }
  .test {
    font-size: 22px;
  }
  .text-animation h1,
  .text-animation p {
    padding: 10px 0px;
  }
  .aside h2 {
    font-size: 29px;
  }
  .aside h1 {
    font-size: 22px;
  }
  .lineUp {
    font-size: 11px;
  }
}
