<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit
                in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>{{myselfData.name}}</h4>
                    <p><em>{{myselfData.summary}}</em></p>
                    <ul>
                        <li>{{myselfData.city}},{{myselfData.state}},{{myselfData.country}}</li>
                        <li>{{myselfData.phoneNumber}}</li>
                        <li>{{myselfData.email}}</li>
                    </ul>
                </div>
                <h3 class="resume-title">Education</h3>
                <ng-container *ngFor="let education of educationData">
                    <div class="resume-item">
                        <h4>{{education.course}}</h4>
                        <h5>{{ education.startingYear | date: 'yyyy' }} - {{ education.endYear | date: 'yyyy' }}</h5>
                        <p><em>{{education.schoolName}}</em></p>
                        <p>{{education.descriptionCourse}}</p>
                    </div>
                </ng-container>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <ng-container *ngFor="let exp of experienceData">
                    <div class="resume-item">
                        <h4>{{exp.mainTitle}}</h4>
                        <h5>{{ exp.startingYear | date: 'MMM yyyy' }} - {{ exp.endYear | date: 'MMM yyyy' }}</h5>
                        <p><em>{{exp.companyName}} </em></p>
                        <p><em>{{exp.location}} </em></p>
                        <ul *ngFor="let item of exp.listshow">
                            <li>{{item}}</li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>