<div class="header text-center py-4 " id="app-services">
    <h1 class="fw-bolder px-5 m-0" style="font-size: 24px;">My Servies</h1>
</div>
<div class="container-fluid justify-content-evenly  d-flex px-5 ">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="col-3 mx-3 px-3 rounded-5 h-100 clip" style="background: #3087c9;">
                <p class="m-0 p-0 "><i class="fa-solid fa-code px-3 py-3" style="font-size: 30px;"></i></p>
                <span class="d-block px-2 fw-bold mb-2" style="font-size: 20px;">Web Design</span>
                <p class="px-4">A well-designed website can effectively communicate a brand's message and attract
                    customers. It
                    should
                    have a user-friendly interface, visually appealing design, and fast load times. Responsive design
                    and
                    accessibility are also crucial for reaching a wider audience. Finally, regular updates and
                    optimization
                    can improve search engine rankings and user engagement.
                </p>
                <div class="m-3 position-relative bottom-0">
                    <a class="d-flex w-50 text-center px-3 rounded-2 py-2 mx-2 my-2 text-decoration-none text-white bg-success"
                        href="#">Read More</a>
                </div>
            </div>
            <div class="col-3 mx-3 px-3 rounded-5 h-100 clip" style="background: #3087c9;">
                <p class="m-0 p-0 "><i class="fa-solid fa-hashtag px-3 py-3" style="font-size: 30px;"></i></p>
                <span class="d-block px-2 fw-bold mb-2" style="font-size: 20px;">UI/UX Design</span>
                <p class="px-4">UI/UX design is the process of designing the user interface and experience of a digital
                    product or
                    website to create a seamless and intuitive experience for the user. This involves user research,
                    information architecture, wireframing, prototyping, and visual design. Good UI/UX design can
                    increase
                    customer satisfaction, user engagement, and business success.
                </p>
                <div class="m-3 position-relative bottom-0">
                    <a class="d-flex w-50 text-center px-3 rounded-2 py-2 mx-2 my-2 text-decoration-none text-white bg-success"
                        href="#">Read More</a>
                </div>
            </div>
            <div class="col-3 mx-3 px-3  rounded-5 h-100 clip" style="background: #3087c9;">
                <p class="m-0 p-0 "><i class="fa-solid fa-mobile-screen-button px-3 py-3" style="font-size: 30px;"></i>
                </p>
                <span class="d-block px-2 fw-bold mb-2" style="font-size: 20px;">App Design</span>
                <p class="px-4">App design creates visually appealing, intuitive interfaces for mobile apps. It uses
                    wireframing,
                    prototyping, and testing to meet user needs. Designers consider platform-specific guidelines and
                    technical limitations for a seamless user experience. Good design boosts engagement, while poor
                    design
                    leads to frustration.
                </p>
                <div class="m-3 position-relative bottom-0">
                    <a class="d-flex w-50 text-center px-3 rounded-2 py-2 mx-2 my-2 text-decoration-none text-white bg-success"
                        href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>