@import "~@fortawesome/fontawesome-free/css/all.css";

.clip {
  overflow: hidden;
  transition: background-color 0.2s ease, margin 0.2s ease-in-out;
}
.clip:first-child:hover  {
  background-color: red !important;
  margin: 20px 0px 0px 30px !important;
}
.clip:last-child:hover  {
  background-color: red !important;
  margin: 20px 30px 10px 0px !important;
}
.clip:hover{
  background-color: red !important;
  margin: 30px 0px 0px 0px;
}