<div class="header text-center py-4 " id="app-services">
    <h1 class="fw-bolder m-0" style="font-size: 24px;">My Servies</h1>
</div>
<div class="container-fluid justify-content-evenly d-flex">
    <div class="d-flex justify-content-between align-items-center container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card rounded-5 clip py-2" style="background: #3087c9;">
                    <div class="card-body text-white">
                        <p class="m-0 p-0 "><i class="fa-solid fa-code px-3 py-3" style="font-size: 30px;"></i></p>
                        <span class="d-block px-2 fw-bold mb-2" style="font-size: 20px;">Web Design</span>
                        <p class="card-text px-2">A well-designed website can effectively communicate a brand's message
                            and
                            attract
                            customers. It
                            should
                            have a user-friendly interface, visually appealing design, and fast load times. Responsive
                            design
                            and
                            accessibility are also crucial for reaching a wider audience. Finally, regular updates and
                            optimization
                            can improve search engine rankings and user engagement.
                        </p>
                        <div class="d-flex justify-content-center my-2">
                            <a class="w-50 text-center p-2 rounded-2 text-decoration-none text-white bg-success"
                                href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card rounded-5 clip py-2" style="background: #3087c9;">
                    <div class="card-body text-white">
                        <p class="m-0 p-0 "><i class="fa-solid fa-hashtag px-3 py-3" style="font-size: 30px;"></i></p>
                        <span class="d-block px-2 fw-bold mb-2" style="font-size: 20px;">UI/UX Design</span>
                        <p class="card-text px-2">UI/UX design is the process of designing the user interface and
                            experience
                            of a
                            digital
                            product or
                            website to create a seamless and intuitive experience for the user. This involves user
                            research,
                            information architecture, wireframing, prototyping, and visual design. Good UI/UX design can
                            increase
                            customer satisfaction, user engagement, and business success.
                        </p>
                        <div class="d-flex justify-content-center my-2">
                            <a class="w-50 text-center p-2 rounded-2 text-decoration-none text-white bg-success"
                                href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card rounded-5 clip py-2" style="height: 100%; background: #3087c9;">
                    <div class="card-body text-white">
                        <p class="m-0 p-0 "><i class="fa-solid fa-mobile-screen-button px-3 py-3"
                                style="font-size: 30px;"></i>
                        </p>
                        <span class="d-block px-2 fw-bold mb-2" style="font-size: 20px;">App Design</span>
                        <p class="card-text px-2">App design encompasses the creation of visually appealing and
                            intuitive
                            interfaces for mobile applications. It involves wireframing, prototyping, and testing to
                            meet user needs. Designers consider platform-specific guidelines and technical limitations,
                            aiming to deliver a seamless user experience. Effective app design enhances engagement and
                            user satisfaction, contributing to the success of the business.
                        </p>
                        <div class="d-flex justify-content-center my-2">
                            <a class="w-50 text-center p-2 rounded-2 text-decoration-none text-white bg-success"
                                href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>