@import "~@fortawesome/fontawesome-free/css/all.css";
.carousel-item {
  transition: none !important;
  animation: slideRightToLeft 0.5s forwards;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.item-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #7525a1;
}

.carousel-indicators {
  position: inherit;
  width: 100%;
  display: flex;
  justify-content: center !important;
}

.indicator-icon {
  margin: 0 5px;
  font-size: 33px; /* Increase the size by 10% */
}
