<app-header></app-header>
<main id="main">
        <app-hero></app-hero>
        <app-about></app-about>
        <app-facts></app-facts>
        <app-skill></app-skill>
        <app-resume></app-resume>
        <app-portfolio></app-portfolio>
        <app-servies></app-servies>
        <app-testimonials></app-testimonials>
        <app-contact></app-contact>
        <app-footer></app-footer>
</main>
<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a> -->