<div class="header text-center pt-5">
    <h1 class="fw-bolder" style="font-size: 24px;">Contact Me</h1>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col pb-3">
            <div class="py-2 d-flex justify-content-center">
                <div class="">
                    <div class="col">
                        <div class="d-flex justify-content-center flex-column">
                            <p style="font-size: 16px;" class="py-3"
                                (click)="openEmailClient('dhapteomkar38@gmail.com')">
                                <i class="fa-solid fa-envelope d-inline px-2"></i>
                                dhapteomkar38@gmail.com
                            </p>
                            <p style="font-size: 16px;" (click)="openPhoneDialer('8530842830')">
                                <i class="fa-solid fa-phone d-inline px-2"></i>
                                8530842830
                            </p>
                        </div>
                        <ul class="list-unstyled d-flex px-2 py-5">
                            <li class="px-3">
                                <a class="text-white" href="https://www.facebook.com/omkar.dhapte.31/" target="_blank">
                                    <i style="font-size: 24px;" class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="px-3">
                                <a class="text-white" href="https://linkedin.com/in/omkar-dhapte-103380226"
                                    target="_blank">
                                    <i style="font-size: 24px;" class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="px-3">
                                <a class="text-white" href="https://twitter.com/dhapte55187" target="_blank">
                                    <i style="font-size: 24px;" class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="px-3">
                                <a class="text-white"
                                    href="https://www.instagram.com/omkardhapte22/?igshid=MzNlNGNkZWQ4Mg%3D%3D"
                                    target="_blank">
                                    <i style="font-size: 24px;" class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none text-white p-2 rounded-3" style="background: red;"
                            href="../../assets/resume.pdf" target="_blank">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <form class="px-5 py-3" [formGroup]="form" (ngSubmit)="submitForm()">
                <input style="width:100%" formControlName="name"
                    [ngClass]="{ 'is-invalid': form.controls['name'].invalid && form.controls['name'].touched }"
                    class="w-100 text-center py-2 py-1 mb-3 border-0 rounded-2 text-dark opacity-75 outline-0"
                    type="text" placeholder="Your Name">

                <input style="width:100%" formControlName="email"
                    [ngClass]="{ 'is-invalid': form.controls['email'].invalid && form.controls['email'].touched }"
                    class="w-100 text-center py-2 py-1 mb-3 border-0 rounded-2 text-dark opacity-75 outline-0"
                    type="text" placeholder="Your Email">

                <input style="width:100%" formControlName="companyName"
                    [ngClass]="{ 'is-invalid': form.controls['companyName'].invalid && form.controls['companyName'].touched }"
                    class="w-100 text-center py-2 py-1 mb-3 border-0 rounded-2 text-dark opacity-75 outline-0"
                    type="text" placeholder="Your Company Name">

                <input style="width:100%" formControlName="phoneNumber"
                    [ngClass]="{ 'is-invalid': form.controls['phoneNumber'].invalid && form.controls['phoneNumber'].touched }"
                    class="w-100 text-center py-2 py-1 mb-3 border-0 rounded-2 text-dark opacity-75 outline-0"
                    type="number" placeholder="Your Mobile Number">

                <input style="width:100%" formControlName="message"
                    [ngClass]="{ 'is-invalid': form.controls['message'].invalid && form.controls['message'].touched }"
                    class="w-100 text-center py-2 py-1 mb-3 border-0 rounded-2 text-dark opacity-75 outline-0"
                    type="text" placeholder="Your Message">

                <div class="d-flex align-items-center justify-content-center pt-4">
                    <button class="text-white rounded-3 border-0 mt-2 mb-3 py-2 px-5" style="background: red;"
                        type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>