<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About</h2>
            <p>{{mySelf.aboutText}}</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img [src]='mySelf.aboutImage' class="img-fluid w-100" style="height: 455px;" alt="Profile Picture">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>{{mySelf.mainTitle}}</h3>
                <p class="fst-italic">{{mySelf.aboutsummary}}</p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Birthday:</strong> <span>{{getBrith(mySelf.birthday)}}</span></li>
                            <li><strong>Phone:</strong> <span>{{mySelf.phone}}</span></li>
                            <li><strong>City:</strong> <span>{{mySelf.city}}</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Age:</strong> <span>{{getAge(mySelf.birthday)}}</span></li>
                            <li><strong>Degree:</strong> <span>{{mySelf.degree}}</span></li>
                            <li><strong>Email:</strong> <span>{{mySelf.email}}</span></li>
                            <li><strong>Freelance:</strong> <span>{{mySelf.freelanceStatus}}</span></li>
                        </ul>
                    </div>
                </div>
                <p>{{mySelf.ondes}}</p>
            </div>
        </div>
    </div>
</section>