<section class="hero relative h-screen bg-[url('../../../assets/img/hero-bg.jpg')] bg-top bg-right bg-cover flex flex-col justify-center">
    <div class="mx-56 z-10">
        <h1 class="m-0 text-[64px] font-bold leading-[56px] text-[#45505b]"> {{myself.name}} </h1>
        <p class="text-[#45505b] mt-4 text-[26px] font-poppins">
            I'm <span class="text-[#0563bb] tracking-wider">{{ currentText }}</span>
        </p>
        <div class="mt-8">
            <a href="#" class="text-[#45505b] text-[24px] inline-block mr-5 transition-colors duration-300 hover:text-[#0563bb]">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#" class="text-[#45505b] text-[24px] inline-block mr-5 transition-colors duration-300 hover:text-[#0563bb]">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="text-[#45505b] text-[24px] inline-block mr-5 transition-colors duration-300 hover:text-[#0563bb]">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#" class="text-[#45505b] text-[24px] inline-block mr-5 transition-colors duration-300 hover:text-[#0563bb]">
                <i class="fa fa-skype" aria-hidden="true"></i>
            </a>
            <a href="#" class="text-[#45505b] text-[24px] inline-block mr-5 transition-colors duration-300 hover:text-[#0563bb]">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
