<div class="container-fluid">
    <div class="header text-center py-4">
        <h1 class="fw-bolder m-0" style="font-size: 24px;">About Me</h1>
    </div>
    <div class="container">
        <div class="row" *ngFor="let item of items">
            <div class="col-md-4">
                <div class="main">
                    <img [src]="item.imageUrl" class="" alt="BANNER IS HERE" style="height:380px">
                </div>
            </div>
            <div class="col-md-7">
                <div class="p-4 bg-dark">
                    <span class="fw-bold">BIOGRAPHY</span>
                    <h3>{{item.description}}</h3>
                </div>
            </div>
            <div class="col-md-1">
                <span>sDAFSEGRTKJLKGFDDSGFHJ</span>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>