<div *ngFor="let item of items">
    <div class="d-flex w-100 align-items-center container-fluid" style="height: 600px;"
        [style.background-image]="'url(' + backgroundImageUrl + ')'" id="app-home">
        <div
            class="col mobile d-flex fw-bold flex-column align-items-center  container-fluid text-center text-animation">
            <h1 class="fw-bolder py-2" style="font-size: 29px;">{{item.jobTitle}}</h1>
            <h1 class="fw-bold py-3" style="font-size: 43px;">Hi, I'm <p class="fw-bolder py-3 d-inline-block "
                    style="color:#00f6ff">
                    {{item.name}}</p>
            </h1>
            <p class="lineUp text-center py-2">
                {{item.quests}}
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>